/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
header {
    min-height: 40vh;
    background-color: #363636;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
header > h1 {
    font-size: 2.2rem;
    font-weight: 800;
}
header > h3 {
    margin-top: 0.3rem;
    font-size: 1.3rem;
}
section {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    padding: 0.6rem 0;
}
.shipping, .billing {
    padding: 1rem;
    border: 5px solid #F09F91;
    box-shadow: 0px 6px rgb(0 0 0 / 20%);
}
.billing {
    margin-left: 1rem;
}
label {
    display: block;
    margin: 0.6rem 0;
    color: #363636;
    font-size: 1.2rem;
    font-weight: bold;
}
.ship-bill {
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.ship-bill > label {
    font-size: 1.4rem;
    color: #61727E;
}
.ship-bill > input {
    width: 5%;
}
input {
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 0.4rem 0.6rem;
    border: none;
    outline-color: #C7C5C2;
    font-size: 1.3rem;
    margin-top: 0.4rem;
}
input::placeholder {
    color: #C7C5C2;
}
h2 {
    font-weight: bold;
    color: #363636;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
}
.shipping > h2, .billing > h2 {
    text-align: left;
    color: #47D1B2;
    font-weight: normal;
    font-size: 1.4rem;
}
.er {
    color: red;
}
.error {
    border: 1px solid red;
}
span {
    color: red;
}